.header__container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  width: 100%;
}

.header__sidebar {
  display: var(--display-none-large, block);
}

.header__row {
  display: var(--display-flex-large, none);
}

.header__hamburger-svg {
  position: fixed;
  transition: 300ms opacity;
  transition-timing-function: ease-in-out;
  margin: 1rem;
  width: 3rem;
  height: 3rem;
  fill: black;
  cursor: pointer;
}

.header__hamburger-button:focus-within .header__hamburger-svg {
  outline: solid black;
  border-radius: 5px;
  outline-offset: -4px;
}

.header__hamburger-button {
  position: fixed;
  border-width: 0rem;
  background-color: unset;
  padding: 0;
  outline: 0 solid;
}

.header__col {
  position: fixed;
  transition: opacity 500ms;
  transition-timing-function: ease-in-out;
  width: 100%;
  height: 100%;
  transform: translateY(4rem);
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  z-index: 50;
  opacity: 0;
  pointer-events: none;
}

.header__title {
  font-size: 2.5rem;
  padding: 0.5rem;
  margin: 0;
  text-align: center;
}

.header__link {
  font-size: 1rem;
  padding: 1rem;
  text-decoration: none;
  color: inherit;
  transition: transform 600ms;
  transition-timing-function: ease-in-out;
}

.header__row .header__link {
  margin: 1.5rem 0 0.5rem 0;
  padding: 0.5rem;
}

.header__link:hover {
  text-decoration-thickness: 0.1rem;
  text-decoration-line: underline;
  text-decoration-style: solid;
}

.header__link:focus {
  outline: solid black;
  border-radius: 5px;
  outline-offset: -4px;
}
