
html{
    background-image: url("../pictures/philmont.jpg");
    background-position: center;
    background-size: cover;
}

.main{
    background-color: white;
    margin: 50px auto;
    width: calc(75% - 20px);
}

main h1{
    text-align: center;
}

main p{
    font-size: 17px;
}

.mdl-mini-footer{
    justify-content: center;
}

footer{
    width: 100%;
}

.mdl-cell{
    padding: 10px;
}

.youtube-video {
    aspect-ratio: 16 / 9;
}

.mdl-layout__content {
    display: grid;
    place-items: end;
}
