
html{
    background-image: url("../pictures/philmont.jpg");
    background-position: center;
    background-size: cover;
}

.main{
    background-color: white;
    margin: 50px auto;
    width: calc(75% - 20px);
    min-height: calc(100% - 200px);
}

main h1{
    text-align: center;
}

.mdl-mini-footer{
    justify-content: center;
}