
html{
    background-image: url("../pictures/philmont.jpg");
    background-position: center;
    background-size: cover;
}

main{
    
    background-color: white;
    margin: 0 auto;
    width: 75%;
}

main h1{
    text-align: center;
}

