@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  font-size: medium;
  line-height: 1.5;
  background-color: #dfe0e1;
  padding: 1ex Max(1rem, calc(10% - 3rem));
  margin: 0;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;

  h1 {
    font-size: 2.5rem;
    padding: 0.5rem;
    margin: 0;
    text-align: center;
  }

  ul {
    display: flex;
    margin: 0;
    padding: 2ex 0 0;
  }

  li {
    list-style-type: none;
    margin: 0;
    padding: 1rem;
    &:hover {
      text-decoration-thickness: 0.1rem;
      text-decoration-line: underline;
      text-decoration-style: solid;
    }
    &:focus-within {
      outline: solid black;
      border-radius: 5px;
      outline-offset: -4px;
    }
  }

  a {
    text-decoration: inherit;
    color: inherit;
  }
}

@media (max-width: 900px) {
  header {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;

    h1 {
      order: -1;
    }

    ul {
      flex-direction: column;
      width: 100%;
      padding: 0;
      text-align: center;
      border: solid #bdbfc2;
    }

    li:nth-child(odd) {
      background-color: #caccce;
    }
  }
}

// sudoku tables
td {
  width: 2em;
  height: 2em;
  text-align: center;
  border: solid black 1px;
}
