---
title: Sudoku
---
<script defer type="module" src="/sudoku/page.js"></script>

<table id="sudoku-table" contenteditable="true">
    <%= "<tr>#{content_tag(:td) * 9}</tr>" * 9 %>
</table>
<button id="populate">Populate sudoku table</button>
<button id="solve">Solve sudoku table</button>
<button id="clear">Clear sudoku table</button>
